<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      {{> header}}
      <div class="content">
        {{{body}}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>