<h1>New Car</h1>
<form action="/api/cars" method="post">
    <label for="InvoiceNo">InvoiceNo:</label>
    <input type="text" name="InvoiceNo" required><br>

    <label for="image">Image URL:</label>
    <input type="text" name="image" required><br>

    <label for="Manufacturer">Manufacturer:</label>
    <input type="text" name="Manufacturer" required><br>

    <label for="class">Class:</label>
    <input type="text" name="class" required><br>

    <label for="Sales_in_thousands">Sales in thousands:</label>
    <input type="text" name="Sales_in_thousands" required><br>

    <label for="__year_resale_value">Year Resale Value:</label>
    <input type="text" name="__year_resale_value" required><br>

    <label for="Vehicle_type">Vehicle Type:</label>
    <input type="text" name="Vehicle_type" required><br>

    <label for="Price_in_thousands">Price in thousands:</label>
    <input type="text" name="Price_in_thousands" required><br>

    <label for="Engine_size">Engine Size:</label>
    <input type="text" name="Engine_size" required><br>

    <label for="Horsepower">Horsepower:</label>
    <input type="text" name="Horsepower" required><br>

    <label for="Wheelbase">Wheelbase:</label>
    <input type="text" name="Wheelbase" required><br>

    <label for="Width">Width:</label>
    <input type="text" name="Width" required><br>

    <label for="Length">Length:</label>
    <input type="text" name="Length" required><br>

    <label for="Curb_weight">Curb Weight:</label>
    <input type="text" name="Curb_weight" required><br>

    <label for="Fuel_capacity">Fuel Capacity:</label>
    <input type="text" name="Fuel_capacity" required><br>

    <label for="Fuel_efficiency">Fuel Efficiency:</label>
    <input type="text" name="Fuel_efficiency" required><br>

    <label for="Latest_Launch">Latest Launch:</label>
    <input type="text" name="Latest_Launch" required><br>

    <label for="Power_perf_factor">Power Performance Factor:</label>
    <input type="text" name="Power_perf_factor" required><br>

    <input type="submit" value="Submit">
</form>