<div class="content">
  <h1>Register</h1>
  <form method="post" action="/register">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <br>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>