<h1>Search for Manufacturer</h1>
    <form action="/search/manufacturerResult" method="post">
      <label for="manufacturer">Enter Manufacturer:</label>
      <input type="text" id="manufacturer" name="manufacturer" required>
      <button type="submit">Search</button>
    </form>